#floorplan_right {
	width:auto;
	height:auto;
	background-image:url(ims/floorplan.gif);
	float:right;
	display:inline;
	position:relative;
}

#floorplan_right_ajax {
	width:650px;
	float:right;
	display:inline;
	position:relative;
}

.stand {
	position:absolute;
	float:left;
	padding:0;
	margin:0;
	overflow:hidden;
	display:block;
}

.stand_link_empty {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	text-align:center;
	float:left;
	text-decoration:none;
	color:#666666;
}

.stand_link_empty:hover {
	background-color:#333399;
	color:#FFFFFF;
	cursor: pointer;
}

span.stand_link_empty:hover {
	background-color:#FFFFFF;
	color:#666666;
	cursor: default;
}

.stand_link_reserved {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	text-align:center;
	float:left;
	text-decoration:none;
	color:#666666;
	background-color:#CCCCCC;
}

.stand_link_booked {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	text-align:center;
	float:left;
	text-decoration:none;
	color:#FFFFFF;
	background-color:#700E57;
}

.stand_link_user_reserved {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	text-align:center;
	float:left;
	text-decoration:none;
	color:#666666;
	background-color:#FCCA1B;
}

.stand_link_user_booked {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:8px;
	text-align:center;
	float:left;
	text-decoration:none;
	color:#FFFFFF;
	background-color:#669900;
}

#download_pdf {
	background:url(../ims/download_pdf.png) 0px 0px no-repeat;
	width:278px;
	height:22px;
	display:block;
	overflow:hidden;
	text-decoration:none;
	text-indent:-1000px;
}

#download_pdf:hover {
	background:url(../ims/download_pdf.png) 0px -22px no-repeat;
}

#download_pdf_map {
	background:url(../ims/download_pdf_map.png) 0px 0px no-repeat;
	width:250px;
	height:22px;
	display:block;
	overflow:hidden;
	text-decoration:none;
	text-indent:-1000px;
	position:absolute;
	top:15px;
	left:386px;
	z-index:1000;
}

#download_pdf_text {
    position:absolute;
    top:53px; right:15px;
    width:320px;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
    line-height:16px;
	text-align:right;
	text-decoration:none;
	color:#666666;
}
#download_pdf_text a {
    color:#700E57;
}

#download_pdf_text a:hover {
    color:#666666;
}

#download_pdf_map:hover {
	background:url(../ims/download_pdf_map.png) 0px -22px no-repeat;
}

.tooltip_title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#666666;
    text-align:center;
}