@font-face {
	font-family: AvenirNext;
	src: url(../fonts/avenir-next-regular.ttf);
}

@font-face {
	font-family: AvenirNextBold;
	src: url(../fonts/AvenirNextLTPro-Bold.otf);
}

body p {
	font-family: 'AvenirNext';
	font-weight: normal;
}

body {
	letter-spacing: 2px;
}

h1,
h2 {
	font-family: 'AvenirNextBold';
	letter-spacing: 2px;
}

::selection {
    background-color: #8D1B3D;
    color: #fff;
}
a:hover,
a:focus {
	color: #da3e6d;
  	text-decoration: none;
  	transition: all .3s ease 0s;
  	cursor: pointer;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
button {
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ease 0s;
}
button,
button:active,
button:focus, 
button:hover,
.btn,
.btn:active, 
.btn:focus, 
.btn:hover{   
    outline:none !important;
}

.text-red {
	color: #8D1B3D;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.hesperiden.tp-bullets:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	padding: 10px;
	margin-left: -10px;
	margin-top: -10px;
	box-sizing: content-box;
	border-radius: 8px
}

.hesperiden .tp-bullet {
	width: 12px;
	height: 12px;
	position: absolute;
	background: rgb(153, 153, 153);
	background: -moz-linear-gradient(top, rgb(153, 153, 153) 0%, rgb(225, 225, 225) 100%);
	background: -webkit-linear-gradient(top, rgb(153, 153, 153) 0%, rgb(225, 225, 225) 100%);
	background: -o-linear-gradient(top, rgb(153, 153, 153) 0%, rgb(225, 225, 225) 100%);
	background: -ms-linear-gradient(top, rgb(153, 153, 153) 0%, rgb(225, 225, 225) 100%);
	background: linear-gradient(to bottom, rgb(153, 153, 153) 0%, rgb(225, 225, 225) 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr="rgb(153,153,153)", endcolorstr="rgb(225,225,225)", gradienttype=0);
	border: 3px solid rgb(255, 255, 255);
	border-radius: 50%;
	cursor: pointer;
	box-sizing: content-box
}

.hesperiden .tp-bullet:hover,
.hesperiden .tp-bullet.selected {
	background: rgb(141, 27, 61)
}

.hesperiden .tp-bullet-image {}

.hesperiden .tp-bullet-title {}


/* The Overlay (background) */

.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height: 100%;
	width: 0;
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	background-color: rgb(141, 27, 61, 0.9);
	/* Black w/opacity */
	overflow-x: hidden;
	/* Disable horizontal scroll */
	transition: 0.5s;
	/* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */

.overlay-content {
	position: relative;
	top: 25%;
	/* 25% from the top */
	width: 100%;
	/* 100% width */
	text-align: center;
	/* Centered text/links */
	margin-top: 30px;
	/* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* The navigation links inside the overlay */

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #fff;
	display: block;
	/* Display block instead of inline */
	transition: 0.3s;
	/* Transition effects on hover (color) */
}


/* When you mouse over the navigation links, change their color */

.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}


/* Position the close button (top right corner) */

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
@media screen and (max-width:768px) {
	.logo-img {
	width: 100px!important;
}
}

.logo-img {
	width: 150px;
}

.navbar {
	padding-right: 50px;
	padding-left: 50px;
	background-color: #fff;
}
@media only screen and (min-width:350px) and (max-width:1023px) {
.navbar {
	padding-right: 10px;
	padding-left: 10px;
}



}
@media screen and (min-width:768px) {
	.navbar-brand-centered {
		position: absolute;
		left: 50%;
		display: block;
		width: 160px;
		text-align: center;
		background-color: #eee;
	}
	.navbar>.container .navbar-brand-centered,
	.navbar>.container-fluid .navbar-brand-centered {
		margin-left: -80px;
	}
}

.main-menu {
	width: 300px;
	margin-left: 50px;
	background-color: #8D1B3D;
}

.menu-link {
	font-size: 20px;
}

.menu-left {
	padding-left: 20px;
	padding-right: 20px;
}

.menu-link:hover {
	text-decoration: none;
	color: #8D1B3D;
}

.nav-link {
	cursor: pointer;
}

.nav-link a:hover {
	color: #8D1B3D!important;
}

.dropdown-item:focus {
	background-color: #8D1B3D;
}

.dropdown-item:hover {
	background-color: #8D1B3D;
	color: #fff;
}

.login-menu {
	left: -100px!important;
	transition: transform 0.3s ease-in;
}

.dropdown-item.active {
	color: #fff;
    border-bottom: 2px solid #fff;
    background-color: transparent;
}

.btn-outline-secondary {
    color: #8D1B3D;
    background-color: transparent;
    background-image: none;
    border-color:#8D1B3D;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #8D1B3D;
    border-color: #8D1B3D;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #8D1B3D;
    border-color: #8D1B3D;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: none;
}

.btn-login {
	width: 100%;
}
.regis-menu-btn {
	float: right;
}
input, textarea, .login-select, .form-control {
    border-bottom: 1px solid #8D1B3D!important;
    background: transparent;
    color: #323336;
    font-size: 14px;
    margin: 0;
    outline: medium none;
    padding: 10px!important;
}

.form-input{
	display: inline-flex;
	
}
.form-regis-label {
	display: flex!important;
	margin-top: 8px;
	padding-right: 20px;
	margin-bottom: 20px;
}

.form-control {
    display: block;
    width: 100%;
   	padding-right: 50px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: .15s ease-in-out,box-shadow .15s ease-in-out; 
}
@media only screen and (min-width:1024px) {

.login-menu {
    left: -315px!important;
    width: 400px;
    border-radius: 20px;
}

}
@media only screen and (min-width:350px) and (max-width:1023px) {

.login-menu {
    width: auto;
    left: -150px!important;
    border-radius: 20px;
}

}

a {
	color: #8D1B3D;
}

#header {
	margin-top: 100px;
}

@media screen and (max-width:1024px) {
	#header {
		margin-top: 20px;
	}
}

@media screen and (max-width:480px) {
	#header {
		margin-top: 20px;
	}
}

#section1 {
	margin-top: 100px!important;
}
#section2 {
	margin-top: 100px;
}
#section3 {
	margin-top: 100px;
}
#section5 {
	margin-top: 100px;
}
#section6 {
	margin-top: 100px;
}
#section7 {
	margin-top: 100px;
}
#section8 {
	margin-top: 100px;
}
#section9 {
	margin-top: 100px;
}
#section10 {
	margin-top: 100px;
}
#section11 {
	margin-top: 100px;
}
#section12 {
	margin-top: 100px;
}

#section14 {
	margin-top: 100px;
}
#section15 {
	margin-top: 100px;
}
#section16 {
	margin-top: 100px;
}
#section17 {
	margin-top: 100px;
}
#section19 {
	margin-top: 100px;
	margin-bottom: 100px;
}
.heading {
	font-family: 'AvenirNext';
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
}

.heading-text {
	text-align: center;
	padding-bottom: 80px;
}


/*card section*/

.card {
	border: 2px solid rgb(141, 27, 61);
	;
	border-radius: 20px;
	padding-bottom: 50px;
	margin-bottom: 20px;
	margin-right: 30px;
	margin-left: 30px;
}

.card-title {
	color: #8D1B3D;
	font-weight: bold;
}

.btn-red {
	color: #fff;
	background-color: #8D1B3D;
	border-radius: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.btn-red:hover {
	color: #8D1B3D!important;
	background-color: #fff;
	border: 1px solid #8D1B3D;
	transition: 0.3s;
}


/*countdown section*/

.countdown-section {
	background: url(../assets/img/bg_countdown.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
	padding-top: 50px;
	padding-bottom: 50px;
}

.countdown {
	list-style: none;
}

.counter-box {
	width: 100px;
}

.counter-txt {
	font-size: 30px;
	text-align: center;
}

.separator {
	font-family: 'AvenirNextBold';
	font-size: 50px;
	position: relative;
	top: -40px;
}

#days,
#hours,
#minutes,
#seconds {
	font-family: 'AvenirNextBold';
	font-size: 50px;
}

@media only screen and (min-width:300px) and (max-width:480px) {
	.counter-box {
		width: 30px;
	}
	.counter-txt {
		font-size: 10px;
	}
	.separator {
		font-size: 10px;
		top: -20px;
	}
	#days,
	#hours,
	#minutes,
	#seconds {
		font-size: 18px;
	}
	.counter-box p {
		font-size: 18px;
	}
	.cover-heading {
		font-size: 30px;
	}
}

@media only screen and (min-width:480px) and (max-width:1024px) {
	.counter-box {
		width: 50px;
	}
	.counter-txt {
		font-size: 14px;
	}
	.separator {
		font-size: 20px;
		top: -20px;
	}
	#days,
	#hours,
	#minutes,
	#seconds {
		font-size: 20px;
	}
	.counter-box p {
		font-size: 20px;
	}
}


/*be part of us section*/

.bepart-heading {
	font-family: 'AvenirNextBold';
	font-weight: bold;
	color: #8D1B3D;
	font-size: 40px;
	margin: 0 auto;
	padding-bottom: 100px;
}

.home-regis {
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}

.home-regis2 {
	text-align: center;
	margin-bottom: 80px;
	padding-right: 20px;
	padding-left: 20px;
}

.home-regis2 img {
	width: 100px;
}


.img-regis {
	height: 20%;
	float: left;
}

.title-regis {
	font-size: 20px;
	font-weight: bold;
	color: #8D1B3D;
}

.col-regis {
	text-align: left;
	float: right;
	width: 70%;
}

.border-regis {
	border-bottom: 5px solid #8D1B3D;
	width: 40%;
	margin-top: 10px;
}

.btn-regis {
	color: #fff;
	background-color: #8D1B3D;
	border-radius: 50px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.btn-regis:hover {
	color: #8D1B3D;
	background-color: #fff;
	border: 1px solid #8D1B3D;
	transition: 0.3s;
}

.txt-regis {
	text-align: left;
	font-size: 14px;
}


/*video act section*/

.travel-section {
	background-color: #eee;
	padding-top: 100px;
	padding-bottom: 50px;
}

.travel-heading {
	margin-bottom: 50px;
}


/*infopgraphic section*/

.timeline {
	position: relative;
	padding: 0;
	list-style: none;
}

.timeline:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	width: 30px;
	margin-left: -13px;
	content: '';
	background-color: #d9d9d9;
	/*box-shadow: inset 0px 400px 0px #d9d9d9, inset 0px 650px 0px #bfbfbf, inset 0px 900px 0px #a6a6a6; #8c8c8c*/
}

.timeline .timeline-panel:before{
    content: "";
    width: 180px;
    height: 5px;
    background: #bfbfbf;
    position: absolute;
    top: 0;
    right: 0;
    left: 100px;
    transform: translateY(-50%);
}
.timeline .timeline-panel:after{
    content: "\f111";
    font-family: fontawesome;
    font-size: 30px;
    color: #8D1B3D;
    position: absolute;
    top: 0;
    right: 110px;
    transform: translateY(-50%);
}
.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -240px!important;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li {
	position: relative;
	min-height: 50px;
}

.timeline>li:after,
.timeline>li:before {
	display: table;
	content: ' ';
}

.timeline>li:after {
	clear: both;
}

.timeline-panel {
	border: 2px solid #d9d9d9;
	width: 50%;
	border-radius: 20px;
}

.timeline>li .timeline-panel {
	position: relative;
	float: right;
	width: 70%;
	padding: 20px;
	text-align: left;
}

.timeline-body {
	width: 250px;
}

.timeline>li .timeline-panel:before {
	right: auto;
	left: 365px;
	border-right-width: 15px;
	border-left-width: 0;
}

.timeline>li .timeline-panel:after {
	right: auto;
	left: 542px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -257px!important;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
	position: absolute;
	z-index: 100;
	left: 0;
	width: 80px;
	height: 80px;
	margin-left: 0;
	text-align: center;
	color: white;
	border: 7px solid #e9ecef;
	border-radius: 100%;
	background-color: #fed136;
}

.timeline>li .timeline-image h4 {
	font-size: 10px;
	line-height: 14px;
	margin-top: 12px;
}

.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 20px;
	text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.timeline>li:last-child {
	margin-bottom: 0;
}

.timeline .timeline-heading h4 {
	margin-top: 0;
	color: inherit;
}

.timeline .timeline-heading h4.subheading {
	text-transform: none;
}

.timeline .timeline-body>ul,
.timeline .timeline-body>p {
	margin-bottom: 0;
}

.timeline:before {
	left: 50%;
}

.timeline>li .timeline-panel {
	float: left;
	width: 28%;
	text-align: left;
}

.btn-circle {
	background-color: #8D1B3D;
	border: none;
	width: 50px;
	height: 50px;
	padding: 6px 0px;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	line-height: 1.42857;
	margin-left: 0px;
	margin-top: -20px;
	float: right;
}

.btn-circle:hover {
	background-color: #da3e6d;
	transition: 0.3s;
}

.info-heading {
	font-size: 40px;
	font-family: 'AvenirNextBold';
	color: #212121;
}

.info-heading2 {
	font-size: 40px;
	font-family: 'AvenirNextBold';
	color: #212121;
	text-align: right;
}

.info-subheading {
	font-size: 20px;
	font-family: 'AvenirNext';
	font-weight: bold;
	color: #8D1B3D;
	padding-bottom: 20px;
}

.info-subheading2 {
	font-size: 20px;
	font-family: 'AvenirNext';
	font-weight: bold;
	color: #8D1B3D;
	padding-bottom: 20px;
	text-align: right;
}

.img-info {
	height: 120px;
	float: right;
	margin-top: -80px;
	margin-right: -80px;
}

.img-info2 {
	height: 120px;
	float: left;
	margin-top: -80px;
	margin-left: -80px;
}

@media only screen and (max-width:1024px) {
	.timeline>li .timeline-panel {
		float: left;
		width: 100%;
		text-align: left;
		margin-bottom: 40px;
	}
	.timeline>li.timeline-inverted>.timeline-panel {
		float: left;
		padding: 20px;
		text-align: left;
	}
	.img-info {
		float: right;
		margin-top: 0px;
		margin-right: 0px;
	}
	.img-info2 {
		float: right;
		margin-top: 0px;
		margin-right: 0px;
	}
	.info-heading2 {
		text-align: left;
	}
	.info-subheading2 {
		padding-bottom: 20px;
		text-align: left;
	}
	.timeline:before {
		display: none;
	}
	.btn-circle {
		border-radius: 20px;
		margin-left: 0px;
		margin-top: 20px;
		float: right;
		width: 100%;
	}
	.timeline>li .timeline-panel:before {
    display: none;
	}
	.timeline>li .timeline-panel:after {
    display: none;
	}

}

/*tab-menu section*/
#section6 {
	background-color: #eee;
	padding-top: 100px;
	padding-bottom: 100px;

}
.tab-menu-block {
	background-color: #fff;
	border-radius: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 0px;
	padding-left: 0px;
}
.tab-menu-block2 {
	background-color: #fff;
	border-radius: 20px;
	padding-top: 0px;
	padding-bottom: 50px;
	padding-right: 0px;
	padding-left: 0px;
}
.tab-menu {
	padding-bottom: 10px;
}
.tab-content {
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
}
.tab-content2 {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 20px;
	padding-left: 20px;
	margin: 0 auto;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #8D1B3D;
    border-radius: 10px;
}

.nav-tabs {
	border: none;
	background-color: #eee;
}
.nav-tabs .nav-link {
	border: none;
	padding-bottom: 15px;
}

/*sponsor section*/

.img-main-sponsor {
	margin-bottom: 100px;
	margin-top: 50px;
}
.owl-carousel {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 50px;
}

@media only screen and (min-width:1024px) {
.owl-theme .owl-nav {
    margin-top: 10px;
    display: block!important;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background-color: #fff!important;
    border: none!important;
}
.owl-prev {
	font-size: 50px!important;
	font-weight: bold!important;
	color: #bfbfbf!important;
	float: left;
	margin-left: -20px!important;
}
.owl-next {
	font-size: 50px!important;
	font-weight: bold!important;
	color: #bfbfbf!important;
	float: right;
	margin-right: -20px!important;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    margin-top: -110px;
}

}
.img-sponsor {
	width: 100px!important;
	margin: 0 auto;
}
.owl-prev {
	font-size: 50px!important;
	font-weight: bold!important;
	color: #bfbfbf!important;

}
.owl-next {
	font-size: 50px!important;
	font-weight: bold!important;
	color: #bfbfbf!important;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background-color: #fff!important;
    border: none!important;
}
/*news thumbnail section*/

#section8 {
	background-color: #eee;
	padding-bottom: 100px;
	padding-top: 100px;
	margin-bottom: 100px;
}
#sectiongallery {
	background-color: #eee;
	padding-bottom: 100px;
	padding-top: 100px;
	margin-top: 50px;
}
.heading-text-gallery {
	padding-bottom: 20px;
}
.portfolio {
	clear: both;
	float: left;
	width: 100%;
	padding: 70px 0 50px;
}
.work {
	margin-bottom: 30px;
}
.work a {
	display: block;
	overflow: hidden;
	position: relative;
}
.work-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
	padding: 20px;
}
.work-inner:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #8D1B3D;
	opacity: 0;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	z-index: 1;
}
.work:hover .work-inner:after {
	opacity: 0.8;
}
.work-info {
	text-align: center;
	margin-top: 40%;
	top: -15px;
	position: relative;
}
.work-info h2:after {
	display:none;
	}
.work-info p, .work-info h2, .work-info i {
	position: relative;
	z-index: 2;
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.work-info h2 {
	font-size: 20px;
	color: #fff;
	top: -10px;
	margin: 0;
	padding: 0;
	line-height: 35px;
}
.work-info p {
	font-size: 12px;
	top: 10px;
	font-weight: 700;
	-webkit-transition: all 0.6s;
}
.work-info i {
	font-size: 14px;
	top: 20px;
	font-weight: 700;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	color: #333;
	background: #fff;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 30px;
}
.work:hover .work-info p, .work:hover .work-info h2, .work:hover .work-info i {
	opacity: 1;
	top: 0;
}
.portfolio-filter {
	text-align: center;
	list-style: none;
	margin-bottom:20px;
}
.portfolio-filter li.active, .portfolio-filter li:hover{
    border-bottom: 5px solid #8D1B3D;
	color:#8D1B3D;
	
	}
.portfolio-filter li {
	display: inline-table;
	text-transform: uppercase;
	font-size: 14px;
	padding: 20px;
	margin: 0 5px 10px;
	cursor: pointer;
	position: relative;

   	
}
.portfolio-filter li:after {
	position: absolute;
	content: "";
	width: 0;
	height: 3px;
	left: 0;
	bottom: 0;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.portfolio-filter li.active:after {
	width: 100%;
}
.work-popup {
	max-width: 550px;
	background: #fff;
	position: relative!important;
	margin: 30px auto;
	left: 0!important;
}
.work-info p {
    color: #fff;
}
.work-popup img {
	width: 100%;
	height: 100%;
}
.work-popup-content {
	padding: 25px;
}
.work-popup-content h3 {
	font-size: 26px;
	margin-bottom: 20px;
}
.work-popup-content p {
	text-align: left;
	line-height: 23px;
}
.mfp-close-btn-in .mfp-close {
	position: absolute;
	background: #fff;
	font-size: 40px;
	width: 50px;
	height: 50px;
	opacity: 1;
	box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.2);
}
.border-white {
	border-bottom: 2px solid #fff;
}

@media only screen and (max-width:1024px) {
.portfolio-filter {
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
    margin-left: -25px;
}
}

/*hosted by section*/
#section9 {
	margin-bottom: 100px;
}

.logo-small {
	width: 80px;
	padding: 5px;
}

.block-logo {
	padding: 20px;
}

.logo-medium {
	width: 200px;
	margin-bottom: 20px;
}

.block {
	margin-bottom: 40px;
}
/*footer*/

#footer4 {
  background-image: url(../assets/img/bg_footer.png);
  background-position: center;
  background-size: cover;
  color: #fff;
  padding-bottom: 150px;
  padding-top: 150px;
}

#footer-heading {
  color: #fff;
  font-weight: bold;
  padding-bottom: 20px;
}

#footer-link li a {
  color: #fff;

}
.footer-sect {
	padding-left: 50px;
	padding-right: 50px;
}

#mce-EMAIL {
  color: #fff;
}

#mc-embedded-subscribe {
  color: #fff;
}

.nl2-email-input {
  color: #fff;
}

.newsletterform2 {
  width: 100%;
  border-bottom: 1px solid #fff;
}

#footer-logo-cont {
  margin-top: -40px;
}

#info-footer {
  margin-left: 50x;
}

#list-footer p {
  margin-left: 30px;
  margin-top: -30px;
  line-height: 24px;
}

.address li,
.contact li,
.social li {
  padding: 5px 0px;
  list-style: none;
}

.address li p,
.contact li a,
.social li a {
  color: #FFF;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 14px;
}

.logo-footer {
  max-height: 92px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.logo-footer-cont {
  margin-bottom: 2px;
}

@media screen and (max-width:768px) {
.block-responsive {
	width: 50%!important;
}
}
@media screen and (max-width:768px) {
.block-responsive2 {
	width: 33%!important;
}
}
@media screen and (min-width:1024px) {
.footer-list1 {
	padding-left: 80px;
}
}

/* #FOOTER
================================================== */


/*****  #CONTACT FOOTER *****/

.contact-text-container {
  padding-left: 50px;
  padding-top: 12px;
  min-height: 46px;
  opacity: .8;
}

.right-1024 {
  float: right;
}

.right {
  float: right;
}

.left {
  float: left;
}

.right-text {
  text-align: right;
}

.center-text {
  text-align: center;
}

.page-section {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.widget .links-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#mce-EMAIL {
  color: #fff;
}
.nl2-email-input {
    font-weight: lighter;
    border: none;
}
input, textarea, select, .login-select, .form-control {
    border: none;
    border-radius: 0px;
    background: transparent;
    color: #323336;
    font-size: 14px;
    margin: 0;
    outline: medium none;
    padding: 8px 20px 8px 0;
}
.icon-arrows-slim-right:before {
    content: "\e24f";
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "linea-icons"!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#mc-embedded-subscribe {
    color: #fff;
}
.nl2-btn {
    position: absolute;
    top: 50px;
    right: 10px;
    font-size: 27px;
    background: none;
    color: #323336;
}
.nl2-email-input {
  color: #fff!important;
}
.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="url"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="password"]:focus,
.form input[type="date"]:focus,
.form input[type="color"]:focus,
.form select:focus {
  color: #111;
  border-color: rgba(0, 0, 0, .7);
  outline: none;
}
.nl2-email-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .7)
}
.widget .links-list li {
    padding-bottom: 10px;
}
  .social-list {
    text-align: left;
    margin-left: -45px;
    margin-top: 20px;
  }
  .social-list li a {
    padding: 5px;
  }

@media screen and (max-width:768px) {
  .logo-footer-cont {
    text-align: center;
    padding-bottom: 20px;
  }
  .logo-footer {
    max-height: 80px;

  }

  #footer-cont {
    text-align: center;
    padding-bottom: 40px;
  }

  .social-list {
    text-align: center!important;
    margin-left: -15px;
    margin-top: 20px;
  }
  .social-list li a {
    padding: 5px;
  }

  #list-footer p {
    text-align: center;
    margin-left: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .widget .links-list {
    text-align: center;
  }
  .widget .links-list li i{
    padding-bottom: 20px;
    font-size: 24px;
  }

  .dropdown-menu-center {
  left: 52% !important;
  background-color: #fff;
  right: auto !important;
  width:60%;
  margin-top: -24px;
  font-size: 28px;
  text-align: center !important;
  transform: translate(-50%, 0) !important;

}

}

/*copyright section*/
#copyright-section {
	margin-top: 40px;
	margin-bottom: 20px;
}

/* #BACK TO TOP BUTTON
================================================== */

#back-top {
  position: fixed;
  bottom: 16px;
  right: 25px;
  padding: 20px;
  margin: 0;
  z-index: 20;
  visibility: hidden;
}

#back-top a {
  text-decoration: none;
  display: block;
  color: #fff;
  font-size: 50px;
  z-index: 999;
  padding: 5px;
  height: 37px;
  width: 37px;
  border-radius: 50%;
}

#back-top a:hover {
  color: #8D1B3D;
}

.center {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

/*about us section*/

.title-schedule {
	font-size: 30px;
	color: #8D1B3D;
	margin-bottom: 20px;
}

.btn-schedule {
	color: #fff!important;
	background-color: #8D1B3D;
	border-radius: 50px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.btn-schedule:hover {
	color: #8D1B3D!important;
	background-color: #fff;
	border: 1px solid #8D1B3D; 
	transition: 0.3s;
}
.btn-checkout {
	color: #fff!important;
	background-color: #8D1B3D;
	border-radius: 50px;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.btn-checkout:hover {
	color: #8D1B3D!important;
	background-color: #fff;
	border: 1px solid #8D1B3D; 
	transition: 0.3s;
}
.btn-payment {
	width: 100%;
}

.about-intro:before {
    position: relative;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 3px;
    margin-left: -13px;
    content: '';
    background-color: #8D1B3D;
}
@media screen and (max-width:768px) {
	.about-intro:before {
		display: none;
}
}
.col-schedule {
	margin-left: 10px;
}

.about-schedule1 {
	margin-bottom: 50px;
	padding-right: 50px;
	
}
.about-schedule2 {
	margin-bottom: 50px;
	padding-left: 50px;
	
}

/*tab menu about section*/

#section11 {
	background: url(../assets/img/bg3.png);
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 100px;
}

#news {
  margin-top: 100px;
  margin-bottom: 100px;

}

#news-card-item {
  padding: 20px;

}

#news-card {
  width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 3px 3px #eee;
  
}
.img-news {
  position: relative;
  height: 100%;
}

.card-body2 {
background: rgba(0, 0, 0, 0.5);
bottom: -10px;
position: absolute;
width: 100%;
padding-bottom: 20px;
padding-top: 40px;
}

.card-body2:hover {
  transition-duration: .2s;
  bottom: 0px;
}


/*exhibition section*/


.spec-thumb {
	margin-top: 50px;
}
.spec-thumb-title {
	margin-top: 20px;
}

#section13 {
	background: url(../assets/img/exhibition/bg5.png);
	background-size: cover;
	background-position: center top;
	padding-top: 100px;
	padding-bottom: 100px;
}
.sect13-left {
	margin-bottom: 50px;
}
.sect13-right {
	margin-bottom: 50px;
}

.disc-btn {
	cursor: pointer;
	padding:20px 20px 20px 20px;
	background-color: #fff;
	color: #8D1B3D;
	border-radius: 20px;
	font-weight: bold;
	font-size: 30px;
}
.disc-heading {
	font-size: 40px;
	margin-bottom: 50px;
	letter-spacing: 6px;
}
.book-btn {
	color: #8D1B3D;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #fff;
	cursor: pointer;
	border-radius: 10px;
	float: right;
	margin-top: -50px;
}

@media screen and (max-width:768px) {
	.book-btn {
		float: none;
}
}

#section14 {
	padding-top: 100px;
	padding-bottom: 200px;
}

.reg-now-btn {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #8D1B3D;
	color: #fff;
	border-radius: 10px;
}
.reg-now-btn:hover {
	background-color: #fff;
	color: #8D1B3D;
	border: 1px solid #8D1B3D;
	border-radius: 10px;
}

/*header exhibition*/

.header-exhibition1 {
	background: url(../assets/img/exhibition/bg-exhibition.png);
	background-size: cover;
	background-position: center top;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 50px;
}


/*card section*/

.img-card {
	height: 100px;
	text-align: center;
	margin: 0 auto;
	padding-top: 40px;
}


.card2-title {
	color: #fff;
	margin-top: 20px;
}

.card2:hover {
	box-shadow:inset 0px 0px 0px 2px #fff;
}

/*registration form*/

#regis-section {
	margin-top: 150px;
}

.form-regis {
	margin-top: 50px;
}


/*tab-menu section*/
#section15 {
	background-color: #eee;
	padding-top: 100px;
	padding-bottom: 100px;
	margin-top: 50px;
}

.tab-menu-regis {
	background-color: transparent!important;
}

@media screen and (max-width:768px) {
	.tab-menu-regis {
	display: block;
}
}

.reg-a a{
	color: #bfbfbf;
}
.reg-done a{
	color: #33adff!important;
}

li.active a {
	color: #8D1B3D;
}

.reg-b.active {
	color: #8D1B3D!important;
	background-color: transparent!important;
	border-bottom: 5px solid #8D1B3D!important;
	border-radius: 0px!important;

}
.tab-menu-regis li.active  {
	color: #8D1B3D!important;
	background-color: transparent!important;
	border-bottom: 5px solid #8D1B3D!important;
	border-radius: 0px!important;
}
.tab-menu-account {
	background-color: transparent;
}
.tab-menu-account li a.active  {
	color: #8D1B3D!important;
	background-color: transparent!important;
	border-bottom: 5px solid #8D1B3D!important;
	border-radius: 0px!important;
}
@media screen and (min-width:768px) {
.tab-content {
	padding-left: 80px;
	padding-right: 80px;
}
}
select option:hover {
  color: #000; 
  box-shadow: inset 20px 20px #00f;
}
.input-hidden {
  position: absolute;
  left: -9999px;
}


input[type=radio]:checked + label {
  box-shadow: inset 1px 1px 1px 5px #fff;
}
.booth-category input[type=checkbox]:checked + label {
  box-shadow: inset 1px 1px 1px 5px #fff;
}

.sponsor-category input[type=checkbox]:checked + label {
  box-shadow: inset 1px 1px 1px 5px #fff;
}

.gender-form {
	border: 1px solid #8D1B3D;
	border-radius: 20px;
	margin-top: 12px;
}

.card-booth {
	border-radius: 20px;
	padding-bottom: 50px;
	width: 100%;
	background-color: rgb(150,150,150,0.5);
	cursor: pointer;
	margin-bottom: 20px;

}

.img-booth {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 50px;
	margin-left: 50px;
	border-radius: 20px;

}

/*terms and condition section*/

#section16 {
	margin-top: 200px;
	margin-bottom: 200px;
}

.tnc-img {
	margin-bottom: 50px;
}


/*visitor section*/

#section17 {
	background-color: #eee;
}

.visitor-regis {
	background-color: #fff;
	margin-bottom: 100px;
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 20px;
}

@media screen and (min-width:768px) {
.form-visitor {
	padding-left: 50px;
	padding-right: 50px;
}
}

/*error section*/
#error {
	margin-top: 150px;
	margin-bottom: 150px;
}

@media screen and (max-width:768px) {

.img-regis {
	height:25%;
	float: none;
}

.tab-home {
	display: block;
}

}


.sidenav {
    height: 100%;
    display: block;
    width: 0;
    position: inherit;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(141,27,61,0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff!important;
    display: block!important;
    transition: 0.3s;
    padding-bottom: 10px;
    padding-top: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}

.table thead th {
	border-top: none;
}
/*my account*/
.account-img {
	padding: 20px;
	width: 150px;
	height: 150px;
	background-color: #eee;
	border-radius: 50%;
}

/*contact us*/

.contact-form-sect {
	background-color: #fff;
	border-radius: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 20px;
	padding-left: 20px;
}

.text-area-contact {
	width: 100%;
	height: 100px;

}

.btn-contact {
	padding-left: 50px;
	padding-right: 50px;
}

.social-heading {
	margin-bottom: 50px;
}

/*shake*/
.shake:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  -webkit-animation-iteration-count: infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
/*rotate*/
.rotate:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}


/*login-input*/


#emailInputLogin,#passwordInputLogin {
	border: 1px solid #8D1B3D!important;
	border-radius: 20px;
}
.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.gender-form {
	width: auto!important;
}
.overlay2 {
  position: inherit;
  display: none;
  width: 100%;
  margin-left: 280px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  opacity: 0;
  z-index: 990;
}

.dropdown-btn {
    
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block!important;
    transition: 0.3s;
    background: none;
    letter-spacing: 1px;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: rgba(141,27,61,0.9);
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    padding-left: 10px;
    display: block;
    
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.modal1 {
	border-radius: 20px;
	padding: 50px;
}

@media (min-width: 992px) {
.modal-lg {
    max-width: 1200px;
}
}
.modal1 .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #8D1B3D;
}
.modal1 .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #8D1B3D;
}



@media (min-width: 768px) {
	.table-responsive {
    text-align: center;
    display: inline-table;
    margin: 0 auto;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
}

#section12 {
	margin-bottom: 100px;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
	background:rgb(10,10,10,0.8);
}
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content2 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  top: 10%;
}

/* The Close Button */
.close {
  color: white!important;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white!important;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
#caption {
	margin-top: 10px;
}
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/*layout booth*/

.floorplan {
	padding-top: 100px;
	padding-bottom: 100px;
}
.floorplan2 {
	padding-top: 100px;
	padding-bottom: 150px;
}

.hall {
  padding: 20px;
  display: inline-flex;

}

.exit {
  position: relative;
  height: 50px;
}
.exit:before, .exit:after {
  content: "EXIT";
  font-size: 14px;
  line-height: 18px;
  padding: 0px 2px;
  font-family: "Arial Narrow", Arial, sans-serif;
  display: block;
  position: absolute;
  background: green;
  color: white;
  top: 50%;
  transform: translate(0, -50%);
}
.exit:before {
  left: 0;
}
.exit:after {
  right: 0;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cabin {
  display: flex;
}

.cabin1 {
  display: flex;
  position: absolute;
  margin-top: -60px;
}
.cabin1-2 {
  display: flex;
  position: absolute;
  margin-top: 0px;
  left: 30%;
}
.cabin2 {
  display: flex;
  position: absolute;
  margin-top: 160px;
}
.cabin1-3 {
  display: flex;
  position: absolute;
  margin-top: -160px;
  transform: rotate(45deg);
  margin-left: 30px;
}
.cabin1-4 {
  display: flex;
  position: absolute;
  margin-top: -180px;
  transform: rotate(-45deg);
  margin-right: 20px;
  margin-left: -30px;
}

.cabin-top {
  display: flex;
  position: absolute;
  margin-top: -50px;
  margin-left: -15%;
}
.cabin-bottom1 {
  display: flex;
  position: absolute;
  margin-top: 260px;
  margin-left: 6%;
}
.cabin-bottom2 {
  display: flex;
  position: absolute;
  margin-top: 260px;
  margin-left: 21%;
}
.cabin-bottom2-1 {
  display: flex;
  position: absolute;
  margin-top: 320px;
  margin-left: 21%;
}
.cabin-bottom2-2 {
  display: flex;
  position: absolute;
  margin-top: 380px;
  margin-left: 21%;
}
.cabin-bottom3 {
  display: flex;
  position: absolute;
  margin-top: 260px;
  margin-left: 36%;
}
.cabin-bottom3-1 {
  display: flex;
  position: absolute;
  margin-top: 320px;
  margin-left: 36%;
}
.cabin-bottom3-2 {
  display: flex;
  position: absolute;
  margin-top: 380px;
  margin-left: 36%;
}
.cabin-bottom4 {
  display: flex;
  position: absolute;
  margin-top: 260px;
  margin-left: 51%;
}
.cabin-bottom4-1 {
  display: flex;
  position: absolute;
  margin-top: 320px;
  margin-left: 51%;
}
.cabin-bottom4-2 {
  display: flex;
  position: absolute;
  margin-top: 380px;
  margin-left: 51%;
}

.cabin3 {
  display: flex;
  margin-left: 16px;
}

.seats {

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.seat {
 margin-top: -20px;
  padding: 5px;
  position: relative;
}

.seat input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.seat input[type=checkbox]:checked + label {
  background: blue;
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat input[type=checkbox]:disabled + label {
  background: #ddd;
  text-indent: -9999px;
  overflow: hidden;
}
.seat input[type=checkbox]:disabled + label:after {
  content: "X";
  text-indent: 0;
  position: absolute;
  top: 4px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.seat input[type=checkbox]:disabled + label:hover {
  box-shadow: none;
  cursor: not-allowed;
}
.seat label {
  display: block;
  color: #fff;
  position: relative;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.5rem;
  background: #8D1B3D;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat-disabled label {
  display: block;
  color: #fff;
  position: relative;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.5rem;
  background: #bada55!important;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat-sponsor label {
  display: block;
  color: #fff;
  position: relative;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.5rem;
  background: #212121;
  border-radius: 5px;
  animation-duration: 300ms;
  animation-fill-mode: both;
}
.seat label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, .4);
  border-radius: 3px;
}
.seat-disabled label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, .4);
  border-radius: 3px;
}
.seat-sponsor label:before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  top: 1px;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgba(255, 255, 255, .4);
  border-radius: 3px;
}
.seat label:hover {
  cursor: pointer;
  box-shadow: 0 0 0px 2px #5c6aff;
}
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.row--1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.ext {
	margin-top: 5px;
}

.regis2-area {
	padding-top: 100px;
	padding-right: 50px;
	padding-left: 50px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #8D1B3D;
    border-color: #eee;
}
.page-link {
	color: #727272;
}


@media screen and (min-width:768px) {
	.mobile-only-txt {
	display: none;
}
}

@media screen and (max-width:1024px) {
	.floorplan-area {
	display: none;
}
.floorplan-legend {
	display: none;
}
.about-schedule1 {
    margin-bottom: 50px;
    padding: 10px;
}
.about-schedule2 {
    margin-bottom: 50px;
    padding: 10px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 42%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white!important;
  font-weight: bold;
  font-size: 26px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

}


/*single blog page*/

#single-post-page {
	margin-top: 150px;
	margin-bottom: 100px;
}

.datepicker {
	padding: 20px!important;
	border-radius: 0px!important;
}

.payment-file {
	margin-top: 10px;
}

.input-file-container {
  position: relative;
  width: 225px;
} 
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
  margin-bottom: -2px;
}
.js .file-return:not(:empty):before {
  content: "";
  font-style: normal;
  font-weight: normal;
}
input[type="file" i] {
	display: none;
}

@media screen and (max-width:768px) {
	.px-5, .py-5 {
		padding: 20px!important;
	}
	.next {
    right: 0;
}
.prev {
    left: 0;

}

.modal-content2 {
	top: 25%; }


}
#sponsor-input1, #sponsor-input2, #sponsor-input3, #sponsor-input4 {
	display: none;
}

/*news page scetion*/
#news-page {
	margin-top: 100px;
}
.news-head-img {
	border-radius: 0px;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #8D1B3D;
    color: #fff;
    border-radius: 0px!important;
}

.card-sidebar {
	border-radius: 0px;
	margin-bottom: 50px;
}

.news-heading {
	margin-top: 50px;
}
.pagination-link {
	color: #fff;
	background-color: #8D1B3D;
}
.pagination-link:hover {
	color: #8D1B3D;
	background-color: #fff;
}
#category1-input1 label {
	background-color: #e6e600;
}
#category1-input2 label {
	background-color: #e6e600;
}
#category1-input3 label {
	background-color: #e6e600;
}
#category1-input4 label {
	background-color: #e6e600;
}
#category1-input5 label {
	background-color: #e6e600;
}
#category1-input6 label {
	background-color: #e6e600;
}
#category1-input7 label {
	background-color: #e6e600;
}
#category1-input1 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category1-input2 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category1-input3 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category1-input4 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category1-input5 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category1-input6 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category1-input7 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}

#category2-input1 label {
	background-color: purple;
}
#category2-input2 label {
	background-color: purple;
}
#category2-input3 label {
	background-color: purple;
}
#category2-input4 label {
	background-color: purple;
}
#category2-input5 label {
	background-color: purple;
}
#category2-input6 label {
	background-color: purple;
}
#category2-input1 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category2-input2 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category2-input3 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category2-input4 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category2-input5 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category2-input6 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category3-input1 label {
	background-color: red;
}
#category3-input2 label {
	background-color: red;
}
#category3-input3 label {
	background-color: red;
}
#category3-input1 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category3-input2 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category3-input3 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category4-input1 label {
	background-color: orange;
}
#category4-input2 label {
	background-color: orange;
}
#category4-input3 label {
	background-color: orange;
}
#category4-input4 label {
	background-color: orange;
}
#category4-input5 label {
	background-color: orange;
}
#category4-input6 label {
	background-color: orange;
}
#category4-input1 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category4-input2 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category4-input3 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category4-input4 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category4-input5 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category4-input6 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}


#category5-input1 label {
	background-color: #8c8c8c;
}
#category5-input2 label {
	background-color: #8c8c8c;
}
#category5-input3 label {
	background-color: #8c8c8c;
}
#category5-input4 label {
	background-color: #8c8c8c;
}
#category5-input5 label {
	background-color: #8c8c8c;
}
#category5-input6 label {
	background-color: #8c8c8c;
}
#category5-input1 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category5-input2 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category5-input3 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category5-input4 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category5-input5 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
#category5-input6 .seat input[type=checkbox]:checked + label {
	background: blue;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}


.booth-category {
	margin-top: 50px;
}

.gold-booth label {
	width: 70px;
	background-color: #ffcc33;
}

.gold-booth {
	padding-left: 12px;
	padding-right: 21px;
}
.main-booth label {
	width: 140px;
	height: 35px;
	background-color: #4dd2ff;
}

.silver-booth label {
	background-color: silver;
}

.bronze-booth label {
	background-color: #ff8c1a;
}

.home-slider-heading >.tp-wordsplit {
	display: block!important;
}

.image-floorplan {
	margin-top: 50px;
	margin-bottom: 50px;
}

#section-chart {
	margin-top: 100px;
}

.chartbarimg {
	margin: 0 auto;
}

#golf-section {
	background: url(../assets/img/golfbg2.png);
	background-position: center bottom;
	border-radius: 20px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 50px;
}